.form {
  display: flex;
  gap: 8px;
  order: 4;

  @media screen and (min-width: 1200px) {
    // margin-top: 10px;
  }
}

.input {
  height: 45px;
  max-width: 226px;
  width: 100%;
  border-radius: 13.7px;
  // padding: 13px 18px 13px 18px;
  border: 1.37px solid #4fa3bd;
  padding: 13px 18px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.08));

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #a6a6a6;
    opacity: 0.6;
  }

  &:focus-visible {
    outline: 2px solid rgb(39, 147, 255)
  }
}

.button {
  height: 45px;
  width: 151px;
  border-radius: 13.7px;
  border: 0 solid #4fa3bd;
  background: #ff6363;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.08));
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #ffffff;
  cursor: pointer;
}