.wrapper {
  display: flex;
  margin: 40px auto 0;
  width: fit-content;
  gap: 10px;
  // padding: 10px;
}

.list {
  position: relative;
  margin: 0 auto;
  display: flex;
  gap: 15px;
  flex-direction: column;
  // @media screen and (min-width: 1200px) {

  // }
}