.item {
  display: flex;
  // flex-direction: row;
  align-items: center;
  // margin-bottom: 10px;

  flex-basis: calc(50% - 5px);
  height: 64px;
  // flex-basis: 190px;

  background: #75b5b0;
  border-radius: 15.5px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.08));

  @media screen and (min-width: 768px) {
    width: 145px;
    height: 55px;
  }
  @media screen and (min-width: 1200px) {
    width: 162.9px;
    height: 59.84px;
    margin-bottom: 0;
  }
}