.certificates-gallery {
  display: flex;
  width: 450px;
  gap: 10px;
  margin: 40px auto 0;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    width: 738px;
  }
}

.certificates-list__item-link {
  border-radius: 18px;
  min-height: 220px;
  width: 220px;
  background: #dfe6ff;
  align-items: center;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    width: 364px;
    min-height: 236px;
  }
}
.certificates-list__image {
  border-radius: inherit;
  width: inherit;
  height: 178px;
}
.certificate-name {
  //   display: inline-block;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  margin: auto auto;
}
.certificates-gallery__loadMore-button {
  margin: 20px auto 0;
  display: flex;
  width: 220px;
  height: 50px;
  align-items: center;
  justify-content: center;

  border-radius: 15px;
  background: #dfe6ff;
  box-shadow: 0px 3.999999761581421px 15.999999046325684px 0px
    rgba(0, 0, 0, 0.07);

  color: #314279;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
