.problems-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 6px;

  margin-top: 40px;

  @media screen and (min-width: 768px) {
    gap: 10px;
    // justify-content: center;
    width: 690px;
    margin: 40px auto;
  }

  @media screen and (min-width: 1200px) {
    gap: 10px;
    width: auto;
    margin: 40px auto;
    gap: 15px 15px;
  }

  &__item {
    display: flex;
    width: 222px;
    height: 62px;
    // padding: 15px 20px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    gap: 10.435px;

    border-radius: 20px;
    background: #dfe6ff;
    box-shadow: 0px 4.347825527191162px 17.39130210876465px 0px
      rgba(0, 0, 0, 0.07);

    color: #314279;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @media screen and (min-width: 768px) {
      display: flex;
      width: 340px;
      height: 94px;
      border-radius: 30px;
      // padding: 15px 20px;
      padding-left: 20px;
      padding-right: 20px;

      font-size: 20px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      width: 380px;
      height: 94px;
      border-radius: 30px;
      // padding: 15px 20px;
      padding-left: 20px;
      padding-right: 20px;

      font-size: 20px;
    }
  }
  &__item-img {
    width: 32px;
    height: 32px;
    @media screen and (min-width: 768px) {
      width: 50px;
      height: 50px;
    }
  }
}
