.story__inner {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  @media screen and (min-width: 768px) {
    height: 510px;
    display: block;
    position: relative;
  }
}

// .story {
//   display: flex;
//   flex-direction: column;
// }

.story__text-bg {
  margin: 0 auto;
  width: 450px;
  order: 1;
  @media screen and (min-width: 768px) {
    position: absolute;
    width: 452px;
    left: 286px;
  }
  @media screen and (min-width: 1200px) {
    // position: absolute;
    margin: 0 27px 0 0;
    width: 601px;
    // left: 485px;
    left: auto;
    right: 0;
  }
}

.story__photo {
  width: 383px;
  filter: drop-shadow(0px 6.66667px 26.6667px rgba(0, 0, 0, 0.07));
  border-radius: 30px;
  margin: 25px auto 0;
  order: 2;

  @media screen and (min-width: 768px) {
    width: 256px;
    position: absolute;
    margin: 0;
    // margin-left: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: 455px;
    position: absolute;
    border-radius: 55px;
    margin-left: 27px;
    box-shadow: 0px 6.666666507720947px 26.66666603088379px 0px
      rgba(0, 0, 0, 0.07);
  }
}

.text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #031860;
}

.cta-button {
  margin: 25px auto 0;
  width: 290px;
  height: 59px;
  background: #ff6363;
  border-radius: 15px;
  order: 3;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;

  @media screen and (min-width: 768px) {
    // width: 256px;
    margin: 0;
    position: absolute;
    width: 256px;
    height: 52px;
    top: 191px;
  }
  @media screen and (min-width: 1200px) {
    width: 356px;
    height: 52px;
    top: 334px;
    left: 77px;
    box-shadow: 0px 6.666666507720947px 26.66666603088379px 0px
      rgba(0, 0, 0, 0.07);
  }
}
