html {
  scroll-behavior: smooth;
}

body {
  // body {
  // background-color: #f7f4f2; /* мягкий бежевый цвет */
  // background-color: #fdfdfd;
  // background-color: ;

  // background: linear-gradient(to bottom, #9ca8e1, #e8ebf9);
  // body {
  // background: radial-gradient(circle, #9ca8e1, #d6daf3, #ffffff);
  // body {
  background: linear-gradient(to right, #9ca8e1, #679bcd, #5d82e6),
    url("https://www.transparenttextures.com/patterns/white-mesh.png");
  background-blend-mode: overlay; /* Смешиваем текстуру с градиентом */
  // }
  // }

  // }
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  margin-top: 120px;
}

.text-bg {
  padding: 30px;
  background: #dfe6ff;
  border-radius: 30px;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    border-radius: 55px;
    padding: 37.5px 42px;
  }
}

.text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #031860;
}

.cta {
  color: #031860;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}
