.wrapper {
  max-width: 400px;
  width: fit-content;
  margin: 0 auto;
  padding: 27px 48px;
  background: #f0f3ff;
  box-shadow: 0 4px 16px rgb(0 0 0 / 7%);
  border-radius: 100px;
}

.text {
  margin: 0;
  color: #01208b;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}