.content {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  align-items: center;
  gap: 25px;

  @media screen and (width >= 768px) {
    // height: 510px;
    // display: block;
    position: relative;
    display: grid;
    grid-template-columns: [first] auto [second] auto [last];
  }
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;

  @media screen and (width >= 768px) {
    grid-column: 1 / 2;
    grid-row: 1;
    align-self: start;
    justify-self: end;
  }
}

.right-column {
  grid-column: 2 / -1;
  grid-row: 1;

  // display: flex;
  // flex-direction: column;

  // grid-column-start: 2;
  // grid-column-end: last;
}

.wrapper {
  max-width: 400px;
  width: fit-content;
  margin: 0 auto;
  padding: 27px 48px;
  background: #f0f3ff;
  box-shadow: 0 4px 16px rgb(0 0 0 / 7%);
  border-radius: 100px;
}

.text {
  margin: 0;
  color: #01208b;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.photo {
  max-width: 380px;
  width: 100%;
  height: auto;
  filter: drop-shadow(0 6.6667px 26.6667px rgb(0 0 0 / 7%));
  border-radius: 30px;
  order: 2;

  @media screen and (width >= 768px) {
    width: 256px;
    // position: absolute;
    margin: 0;
  }

  @media screen and (width >= 1200px) {
    // max-width: none;
    width: 455px;
    // position: absolute;
    border-radius: 55px;
    // margin-left: 27px;
    box-shadow: 0 6.6667px 26.6667px 0 rgba(0 0 0 / 7%);
  }
}

.button {
  $button-height: 60px;

  text-align: center;
  width: 290px;
  height: $button-height;
  background: #ff6363;
  border-radius: 15px;
  order: 3;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: $button-height;
  color: #fff;

  &:visited {
    color: #fff;
  }

  @media screen and (width >= 768px) {
    // margin: 0;
    // position: absolute;
    width: 256px;
    height: 52px;
    line-height: 52px;
    // top: 191px;
  }

  @media screen and (width >= 1200px) {
    width: 356px;
    height: 52px;
    // top: 334px;
    // left: 77px;
    box-shadow: 0 6.6667px 26.6667px 0 rgba(0 0 0 / 7%);
  }
}
