.item {
  position: relative;

  @media screen and (min-width: 1200px) {
    width: 500px;
  }
}
// .psy-direction__item:nth-child(3) {
//   float: right;
// }
.name {
  position: relative;
  z-index: 20;
  display: flex;
  // margin-top: 15px;
  // align-items: center;
  // align-content: center;
  justify-content: center;
}

.button {
  word-break: break-word;
  display: flex;
  // max-width: 450px;
  width: 100%;
  min-height: 100px;
  padding: 25px 42px;
  justify-content: space-between;
  align-items: center;
  text-align: start;

  border-radius: 55px;
  background: #dfe6ff;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.08);

  color: #031860;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @media screen and (min-width: 768px) {
    // width: 738px;
  }
  @media screen and (min-width: 1200px) {
    // width: 494px;
  }
}

.button-name {
  // max-width: 80%;
  @media (min-width: 1200px) {
    // max-width: 350px;
  }
}

.description {
  white-space: pre-wrap;
  z-index: 10;
  position: relative;
  top: -50px;
  display: flex;
  // max-width: 450px;
  padding: 0 42px;
  margin: 0 auto -50px;
  border-radius: 0px 0px 55px 55px;
  background: #dfe6ff;
  box-shadow: 0px 6.666px 26.666px 0px rgba(0, 0, 0, 0.07);

  transform: scaleY(0);
  transform-origin: top;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, padding 0.5s ease-in-out, position 0.5s 0.5s;

  padding: 65px 42px 30px;
  &--expanded {
    // position: relative;
    opacity: 1;
    transform: scaleY(1);
  }

  &--collapsed {
    position: absolute;
    top: 50px;
    // opacity: 0;
    transform: scaleY(0);
    // padding: 0 42px; 
  }
}

.button-image {
  min-width: 45px;
  width: 45px;
  height: 45px;

  transform: rotate(0deg);
  transition: transform 500ms ease-in-out;

  &--expanded {
    transform: rotate(45deg);
    transition: transform 500ms ease-in-out;
  }
}
