.list {
  display: grid;
  flex-wrap: wrap;
  gap: 5px 6px;
  margin-top: 40px;
  grid-template-columns: repeat(2, 50%);

  @media screen and (width>=768px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 40px auto;
  }

  @media screen and (width>=1200px) {
    width: 950px;
    margin: 40px auto;
    gap: 15px;
  }

}